.DS_Store
__pycache__/
*.py[cod]
*.so
*.dylib
*.o
*.mod
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.venv/
venv/
tmp/
pair_balance/_build/
pair_balance/_build_comppsc/
compps_conv/compps_run/
compps_conv/tmp_grid2x/
compps_conv/tmp_grid2x_src/
